* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 23, 184);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-container {
  position: flex;

  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(19, 9, 110);
  color: white;
}

.clock {
  margin-top: 1rem;
  border-radius: 100%;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  border: 5px solid white;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.hour {
  position: absolute;
  height: 100px;
  width: 6px;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: bottom center;
  background: black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 4px;
}

.minute {
  position: absolute;
  height: 130px;
  width: 4px;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  transform-origin: bottom center;
  background: black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 4px;
}

.second {
  position: absolute;
  height: 90px;
  width: 2px;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  transform-origin: bottom center;
  border-radius: 4px;
  background: #ff4b3e;
  z-index: 1;
}

.dot {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background: #ff4b3e;
  border: 3px solid #1b1b1b;
  border-radius: 100px;
  z-index: 2;
}
